[submodule "libs/lit"]
	path = libs/lit
	url = https://github.com/egordorichev/lit
	
[submodule "libs/box2d"]
	path = libs/box2d
	url = https://github.com/erincatto/Box2D
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/SDL_gpu"]
	path = libs/SDL_gpu
	url = https://github.com/grimfang4/sdl-gpu
